.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 95vw;
    margin-top: 20px;
}
 
.progress-container::before {
    content: "";
    background-color: #130160;
    position: absolute;
    top: 50%;
    left: 0;
    left: calc(100px / 2);
    right: calc(100px/2);
    transform: translateY(-50%);
    height: 3px;
    width: 80vw;
    z-index: -1;
}
 
.progress {
    background-color: #130160;
    position: absolute;
    top: 50%;
   
    transform: translateY(-50%);
    height: 3px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
 
.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    color: #999;
    border-radius: 50%;
    height: 25px; 
    width: 25px;  
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
    position: relative;
    margin-left: 25px;
}
 
.circle.active {
    background-color: #130160;
    color: white;
    border-color: #130160;
}
 
.circle span {
    font-size: 15px; 
    margin-top: 2px; 
}
 
.circle p {
    position: absolute;
    
    font-size: 11px;
    color: #130160;
 margin-bottom:-50px ;
 margin-left: 10px;
 font-weight: 700;
}
 
.details{
   
   
    font-size: 1rem;
    
    height: fit-content;
   
  
    margin-left: 10px;
    margin-top:20px ;
   }
 .p1{
    font-size: 13px;
    font-weight: 500;
    line-height: 14.52px;
   
}
.p2{
    font-size: 13px;
    font-weight: 500;
    line-height: 14.52px;  }


    .p3{
    font-size: 13px;
    font-weight: 400;
    line-height: 14.52px;
    font-style: italic;
    }
 
    .thick{
    font-family: 'Inter', sans-serif;
    font-weight: 750;
   
    font-size: 13px;
    }
    .thin{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top:2%;
    font-size: 12px;
   
    }
   .btn2{
    margin-left: 10%;
    border-radius: 10px;
    background-color: #F59300;
   
    }
   
    body{
    height: 100%;
    width: 100%;
    }
    .instructions{
   
    width: 83%;
    height: 18%;
    margin-left: 9%;
    margin-top: 65px;
   
    }
    .two{
   
    border: 1px black solid;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -20px;
   
   }
    .btn{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
    }
    .next{
        width: 120px;
       --border-radius: 15px;
    }
 .details{
  width: 98%;
 }