<ion-content>
  <div class="progress-container">
    <div class="progress" id="progress"></div>
    <div class="circle active">
      <span>1</span>
      <p>instructions</p>
    </div>
    <div class="circle">
      <span>2</span>
     
    </div>
    <div class="circle">
      <span>3</span>
     
    </div>
    <div class="circle">
      <span>4</span>
     
    </div>
    <div class="circle">
      <span>5</span>
   
    </div>
  </div>
 
 
 
  <div class="instructions">
   
    <div>
      <p class="p1">Step 1 - Click start to begin the video resume</p>
      <p class="p2">Step 2 - Click start button to tell about yourself</p>
      <p class="p3">(Maximum recording length: 30 seconds)</p>
    </div>
  </div>
 
  <div class="two">
    <div class="details">
      <div>
        <p class="thick">Personal details - full name, city, country,etc.<br>
        <span class="thin"> e.g., I am John Doe, I live in India</span>  
      </p>
      </div>
 
      <div>
        <p class="thick">Education - Start with your highest qualification, Institute & location, Passing year, etc. <br>
          <span class="thin">e.g., I have completed my Bachelors from Delhi</span>
        </p>
      </div>
 
      <div>
        <p class="thick">Experience - Total experirnce,Latest company, Designation, Tenure, etc. <br>
          <span class="thin">e.g., I completed my Bachelors from DU, India and currently working in a startup with 5 years of experience</span>
        </p>
      </div>
 
      <div>
        <p class="thick">Skills - List the skills you have (technical or non-technical) <br>
          <span class="thin">e.g., I know HTML, CSS, Python and am very good with communication and time management</span>
        </p>
      </div>
 
      <div>
        <p class="thick">Extra Information - This is optional; you can talk about anything relevant to your field <br>
          <span class="thin">e.g., I love cooking and I like to try different methods each time to enhance my cooking skills, which also <br>
             helps me stay motivated</span>
        </p>
      </div>
    </div>
  </div>
 
  <div class="btn">
   
    <ion-button style="--background:#F59300" [routerLink]="['/personal']" routerLinkActive="router-link-active"  class="next" >next</ion-button>
  </div>
 
  </ion-content>