<ion-content>
  <div class="main">
    <div class="progress-container">
      <div class="progress" id="progress"></div>
      <div class="circle active">
        <span>1</span>
        <p class="instructions">Instructions</p>
      </div>
      <div class="circle active1">
        <span>2</span>
        <p class="personal">Personal <br />Details</p>
      </div>
      <div class="circle active2">
        <span>3</span>
        <p class="education">Education <br />Details</p>
      </div>
      <div class="circle">
        <span>4</span>
      </div>
      <div class="circle">
        <span>5</span>
      </div>
    </div>
    <div class="box">
      <div class="record">
        <video
          id="educationRecorded"
          class="full-screen-video"
          autoplay
          controls
          [style.width.px]="300"
          [style.height.px]="380"
          hidden
        ></video>
      </div>
      <div class="icons">
        <ion-icon
          class="pic"
          name="videocam"
          (click)="toggleRecording()"
        ></ion-icon>
      </div>
    </div>
  </div>
  <div class="btn">
    <ion-button fill="outline" class="btn1" [routerLink]="['/personal']"
      >Back</ion-button
    >
    <ion-button
      style="--background: #f59300"
      [routerLink]="['/skill']"
      class="next"
      >Next</ion-button
    >
  </div>
</ion-content>
