<ion-content>
  <div class="main">
    <div class="heading">
      <h2>Create your video resume now</h2>
    </div>
 
    <img class="logo" src="assets/pictures/yellow.jpeg" alt="" />
 
    <div class="button">
      <ion-button fill="outline" class="btn1">View sample video</ion-button>
 
      <ion-button
        style="--background: #130160"
        [routerLink]="['/instructions']"
        routerLinkActive="router-link-active"
        class="btn2"
        >Record</ion-button
      >
    </div>
    <div>
      <p class="skip"><u>Skip</u></p>
    </div>
  </div>
</ion-content>
 